@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem); }

html,
body {
  height: 100%; }

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit;
  display: block;
  outline: none; }
  input:focus,
  button:focus,
  textarea:focus,
  select:focus {
    outline: none; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

input[type='submit']:hover,
button:hover {
  cursor: pointer; }

input::-ms-clear {
  display: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s; }

textarea {
  overflow: auto; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Shrimp";
  src: url("/fonts/SHRIMP.ttf"); }
html {
  font-size: 20px; }

body {
  font-family: 'Epilogue', sans-serif; }

h1 {
  font-family: "Shrimp", serif;
  font-size: 10vw; }

.modal {
  position: fixed;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }
  .modal.active {
    display: flex; }
  .modal__blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; }
  .modal__card {
    padding: 3rem;
    background-color: white;
    border-radius: 2rem;
    width: 50%;
    max-height: 95%;
    overflow-y: auto;
    background-position: center;
    background-repeat: none;
    background-size: cover; }
    .modal__card .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2rem; }
    .modal__card .type {
      margin-bottom: 1rem; }
    .modal__card .details {
      margin-bottom: 1rem; }
    .modal__card .rated {
      position: relative;
      display: inline-block;
      height: 1em; }
    .modal__card .plot {
      margin-top: 2rem; }

.blurred {
  filter: blur(5px); }

.search-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://api.lorem.space/image/movie?w=2000&h=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .search-section__card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 3em;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .search-section__card h1 {
      color: #858585; }
      .search-section__card h1 .char {
        animation: waves 3s infinite alternate; }
        .search-section__card h1 .char:nth-child(1):hover {
          color: #f57e00; }
        .search-section__card h1 .char:nth-child(2):hover {
          color: #4cae4f; }
        .search-section__card h1 .char:nth-child(3):hover {
          color: #f57e00; }
        .search-section__card h1 .char:nth-child(4):hover {
          color: #fcc14a; }
        .search-section__card h1 .char:nth-child(5):hover {
          color: #002e47; }
      .search-section__card h1 .char:nth-of-type(10n + 0) {
        animation-delay: 0ms; }
      .search-section__card h1 .char:nth-of-type(10n + 1) {
        animation-delay: 150ms; }
      .search-section__card h1 .char:nth-of-type(10n + 2) {
        animation-delay: 300ms; }
      .search-section__card h1 .char:nth-of-type(10n + 3) {
        animation-delay: 450ms; }
      .search-section__card h1 .char:nth-of-type(10n + 4) {
        animation-delay: 600ms; }
      .search-section__card h1 .char:nth-of-type(10n + 5) {
        animation-delay: 750ms; }
    .search-section__card form {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      mix-blend-mode: hard-light; }
      .search-section__card form label {
        margin: .5rem; }
      .search-section__card form input {
        margin: .5rem;
        border-radius: 2rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding: .4em 1em;
        text-align: center; }

@keyframes waves {
  from {
    transform: translateY(0%); }
  50% {
    transform: translateY(5%); }
  to {
    transform: translateY(0%); } }
.movies-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .movies-section .movie {
    display: flex;
    margin: 2rem;
    width: 50%;
    transform: translateX(25%);
    opacity: 0;
    transition: all .5s ease; }
    .movies-section .movie.visible {
      transform: translateX(0);
      opacity: 1; }
    .movies-section .movie__infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2rem; }
    .movies-section .movie__title {
      margin-bottom: 1.5rem;
      color: #f57e00; }
    .movies-section .movie__type {
      color: #fcc14a; }
    .movies-section .movie__year {
      color: #4cae4f; }
    .movies-section .movie__more {
      line-height: initial;
      margin-top: 2rem;
      padding: 1em;
      background-color: #f57e00;
      border-radius: 2rem;
      box-shadow: -3px -3px 0 #002e47;
      color: white;
      cursor: pointer;
      width: fit-content; }
      .movies-section .movie__more:hover {
        transform: translate(-2px, -2px);
        box-shadow: -1px -1px 0 #002e47; }

.arrow-up {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  background-color: #f57e00;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all .4s ease; }
  .arrow-up::after {
    content: '\f176';
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    line-height: 3rem;
    transition: .2s ease;
    transform-origin: 50% 0;
    transform: translate3d(0px, 105%, 0px) rotateX(-90deg); }
  .arrow-up i {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    transition: all .2s;
    transform-origin: 50% 0%;
    transform-style: preserve-3d; }
  .arrow-up:hover {
    opacity: 1; }
    .arrow-up:hover i {
      transform: translate3d(0, 0, -1.5rem) rotateX(90deg);
      animation: arrowmove 1s ease forwards; }
    .arrow-up:hover::after {
      transform: translate3d(0, 0, 0) rotateX(0); }

/*# sourceMappingURL=style.css.map */
